html {
	text-align: center; line-height: 1.3rem; font-size: 1.1rem;
}
body {
	text-align: center; line-height: 1.3rem; font-size: 1.1rem;
}
h1 {
	line-height: 1.8rem; font-size: 1.6rem;
}
h2 {
	line-height: 1.8rem; font-size: 1.6rem;
}
h3 {
	line-height: 1.8rem; font-size: 1.6rem;
}
h1 {
	font-weight: 700;
}
h3 {
	line-height: 1.5rem !important;
}
.container {
	max-width: 800px;
}
footer {
	color: rgb(153, 153, 153); line-height: 1rem; font-size: 0.8rem; text-decoration: none;
}
footer a {
	color: rgb(153, 153, 153); line-height: 1rem; font-size: 0.8rem; text-decoration: none;
}
strong.cve {
	padding: 0px 10px; border-radius: 100px; color: rgb(255, 255, 255) !important; white-space: nowrap; -webkit-border-radius: 100px; -moz-border-radius: 100px;
}
strong.cvo {
	padding: 0px 10px; border-radius: 100px; color: rgb(255, 255, 255) !important; white-space: nowrap; -webkit-border-radius: 100px; -moz-border-radius: 100px;
}
strong.cve {
	background-color: rgb(52, 191, 73);
}
strong.cvo {
	background-color: rgb(234, 67, 53);
}
.modal b {
	white-space: nowrap;
}
.botao {
	padding: 1rem; border-radius: 10px; color: rgb(0, 100, 0); line-height: 1rem; font-size: 0.8rem; text-decoration: none !important; display: inline-block; cursor: pointer; background-color: rgb(68, 199, 103); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.botao:hover {
	padding: 1rem; border-radius: 10px; color: rgb(0, 100, 0); line-height: 1rem; font-size: 0.8rem; text-decoration: none !important; display: inline-block; cursor: pointer; background-color: rgb(68, 199, 103); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.botao .text-uppercase {
	color: rgb(255, 255, 255); line-height: 2.3rem; font-size: 2.3rem; font-weight: 700; text-shadow: 1px 1px 0px #2f6627;
}
.modal .botao {
	color: rgb(255, 255, 255); line-height: 2.3rem; font-size: 2.3rem; font-weight: 700; text-shadow: 1px 1px 0px #2f6627;
}
.modal .botao {
	line-height: 1.8rem; font-size: 1.8rem;
}
.botao:hover {
	color: rgb(255, 255, 255); background-color: rgb(44, 159, 69);
}
.botao:active {
	top: 1px; position: relative;
}
.fx1 {
	background: rgb(241, 241, 241); color: rgb(0, 0, 0);
}
.fx2 {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255);
}
#perguntas {
	text-align: justify;
}
#perguntas dt {
	font-weight: 700; margin-top: 1rem;
}
.cve {
	color: rgb(52, 191, 73);
}
.cvo {
	color: rgb(234, 67, 53);
}
@media all and (min-width:768px)
{
html {
	line-height: 1.5rem; font-size: 1.2rem;
}
body {
	line-height: 1.5rem; font-size: 1.2rem;
}
h1 {
	line-height: 2.4rem; font-size: 2.2rem;
}
h2 {
	line-height: 2.4rem; font-size: 2.2rem;
}
footer {
	line-height: 0.9rem; font-size: 0.75rem;
}
footer a {
	line-height: 0.9rem; font-size: 0.75rem;
}
.botao {
	padding: 1.5rem 2.5rem;
}
.botao:hover {
	padding: 1.5rem 2.5rem;
}
.botao .text-uppercase {
	line-height: 2rem; font-size: 2rem;
}
}
#comentarios {
	padding: 10px 10px 0px; text-align: left; font-family: arial; font-size: 14px; background-color: rgb(246, 247, 249);
}
.titulo {
	padding-bottom: 6px; border-bottom-color: rgb(233, 235, 238); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.perfil {
	padding: 10px 0px; line-height: 20px; display: block;
}
.perfil p {
	margin: 0px; padding: 0px;
}
.perfil img {
	width: 60px; height: 50px;
}
.perfil .nome {
	color: rgb(54, 88, 153); font-weight: 700;
}
.nome img {
	padding-right: 10px; float: left;
}
.info {
	color: rgb(144, 148, 156); font-size: 11px;
}
.info span {
	color: rgb(66, 103, 178); text-decoration: none;
}
.resp {
	padding: 0px 0px 0px 9px; margin-left: 50px; border-left-color: rgb(233, 235, 238); border-left-width: 1px; border-left-style: solid;
}
